@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather|Poppins|Squada+One&display=swap');
body {
    background-color: #a29994;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    height: 60px;
    background-color: #737278;
    align-items: center;
    position: sticky;
    border-bottom: 1px solid black;
    box-shadow: 0 0 5px black;
    font-family: 'Poppins', sans-serif;
}

header span {
    margin-left: 12px;
    font-size: 30px;
    font-weight: bold;
}

header li {
    list-style-type: none;
}

header a {
    width: 85px;
    text-decoration: none;
    color: black;
    font-size: 23px;
    padding: 15px;
    height: auto;
    margin: 0;
}

nav ul {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

header a:hover {
    color: white;
    font-size: 23px;
    background-color: #797c81;
    font-family: 'Merriweather', serif;
}

img {
    height: 150px;
    border-radius: 50%;
}

aside {
    height: 100px;
    text-align: center;
    margin: 20px;
    font-family: 'Squada One', cursive;
}

aside span {
    font-size: 50px;
    font-weight: bold;
}

aside div {
    font-size: 25px;
    margin-top: 40px;
}

main {
    background-color: #a6a7a9;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 3px;
    padding-top: 50px;
    margin: 100px;
    box-shadow: 0 0 5px black;
    font-family: 'Lato', sans-serif;
}

.floatimg {
    float: left;
    margin: 10px;
}

footer {
    flex-basis: 100%;
    order: 4;
    height: 250px;
    background-color: #737278;
    padding: 20px 20px 0 20px;
}

footer a {
    display: flex;
    text-decoration: none;
    color: black;
}

#linkes {
    padding: 100px;
    margin-left: 10px;
    font-size: 50px;
    color: black;
}

#contacts {
    display: flex;
    justify-content: space-between;
}